//variables.scss

$font-url : "../font-awesome/css/font-awesome.min.css";

$font-main : 'Damion';
$font-generic : Arial, sans-serif;
$font-secondary : Impact, sans-serif;

$color-dark : #000;
$color-dark-yellow : #B8860B;
$color-yellow : #FFD700;

$color-white : #FFF;
$color-grey : #999;

$color-lightgrey : #CCC;

$color-very-lightgrey : #EEE;

$color-bluegrey :#CCD;

$color-darkgrey : #666;

$color-very-darkgrey : #212121;

$color-textshadow : #333;

$color-blue : #4169E1;
